streamlit>=1.38
pandas>=2.2
pyarrow>=16.1
openpyxl>=3.1.5
requests>=2.32
typing-extensions>=4.12
numpy>=1.26
plotly>=5.22
python-dotenv>=1.0
pydantic>=2.8
Pillow>=10.4
itables>=2.1
pyyaml>=6.0
openai>=1.51
langfuse>=2.33
altair==5.2.0
openai
elevenlabs
pyttsx3
python-dotenv
langfuse==3.8.1  # Python SDK
streamlit-mic-recorder
audio-recorder-streamlit
